## Scrape win/loss records of NFL teams

In [55]:
#import dependencies
from bs4 import BeautifulSoup
import pandas as pd
import requests

In [56]:
#source: wikipedia
url = "https://en.wikipedia.org/wiki/List_of_all-time_NFL_win%E2%80%93loss_records#Combined_regular_season_and_playoffs"
source = requests.get(url).text

In [57]:
soup = BeautifulSoup(source, 'lxml')

In [1]:
#print(soup.prettify())

In [59]:
tables_list = soup.find_all('table')

In [2]:
#tables_list[1]

In [61]:
dfs = pd.read_html(url)

In [3]:
#for df in dfs:
#   print(df)

In [63]:
regular = dfs[1]
#regular.columns = ["Rank","Team","GP", "Won", "Lost","Tied","Pct","First NFL Season","Division"]
regular.columns = regular.iloc[0,:]
regularcleaned = regular.iloc[1:]
regularcleaned.head()

,Rank,Team,GP,Won,Lost,Tied,Pct.,First NFL Season,Division
1,1,Dallas Cowboys,898,512,380,6,.573,1960,NFC East
2,2,Chicago Bears,1386,761,583,42,.564,1920,NFC North
3,3,Green Bay Packers,1352,743,571,38,.564,1921,NFC North
4,4,New England Patriots[b],900,500,391,9,.561,1960,AFC East
5,5,Miami Dolphins,816,452,360,4,.556,1966,AFC East

In [64]:
postseason = dfs[3]
postseason.columns = postseason.iloc[0,:]
PScleaned = postseason.iloc[1:]
PScleaned.head()

,Rank,Team,GP,Won,Lost,Pct.,Last playoffappearance,Division
1,1,New England Patriots,57,37,20,.649,2018,AFC East
2,2,Baltimore Ravens,24,15,9,.625,2018,AFC North
3,3,Green Bay Packers,56,34,22,.607,2016,NFC North
4,4,San Francisco 49ers,50,30,20,.600,2013,NFC West
5,5,Pittsburgh Steelers,61,36,25,.590,2017,AFC North

In [65]:
combinedseason = dfs[5]
combinedseason.columns = combinedseason.iloc[0,:]
CScleaned = combinedseason.iloc[1:]
CScleaned.head()

,Rank,Team,GP,Won,Lost,Tied,Pct.,First NFL Season,Division
1,1,Dallas Cowboys,961,547,408,6,.572,1960,NFC East
2,2,New England Patriots,957,537,411,9,.566,1960,AFC East
3,3,Green Bay Packers,1408,777,593,38,.565,1921,NFC North
4,4,Chicago Bears,1422,778,602,42,.562,1920,NFC North
5,5,Miami Dolphins,857,472,381,4,.553,1966,AFC East

In [ ]:
#load to csv or load into mysql database?