### NFL PLayer Salaries

In [22]:
import pandas as pd
from sqlalchemy import create_engine

In [23]:
source = "PlayerSalaries.csv"
data = pd.read_csv(source)
#data.head()

In [25]:
#get rid of rank column
clean = data.drop(columns=["Rank"])
clean.head()

  First Name Last Name Team        Salary
0       Kirk   Cousins  MIN  $22,500,000
1   Demarcus  Lawrence  DAL  $17,143,000
2    Ezekiel     Ansah  DET  $17,143,000
3    Russell    Wilson  SEA  $15,500,000
4     Calais  Campbell  JAX  $15,000,000

In [26]:
#Tranform premise: make sure the column names from dataframe match the ones in the mysql DATABASE

In [ ]:
# #create a database connection
# connection_name = "root:root@127.0.0.1/DATABASENAME"
# engine = create_engine(f'mysql+pymysql://{_connection_name}')

# # Confirm tables
# engine.table_names()

# #load dataframes into DATABASE
# #replace will drop table before replacing
# df.to_sql(name='tablename', con=engine, if_exists='replace', index=False)
# #append will add new
# df.to_sql(name='tablename', con=engine, if_exists='append', index=False)