# NFL Player Data Base Extraction

In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
NFLPlayer2018_Data = "Data/2018NFLPlayerStatistics.csv"
NFLPlayer2018_df = pd.read_csv(NFLPlayer2018_Data)
NFLPlayer2018_df.head()

,Player,Player.1,Player.2,Player.3,Player.4,Games,Games.1,Passing,Passing.1,Passing.2,...,Scoring,Scoring.1,Scoring.2,Fantasy,Fantasy.1,Fantasy.2,Fantasy.3,Fantasy.4,Fantasy.5,Fantasy.6
0,Rk,Player Name,Tm,FantPos,Age,G,GS,Cmp,Att,Yds,...,TD,2PM,2PP,FantPt,PPR,DKPt,FDPt,VBD,PosRank,OvRank
1,1,Todd Gurley*+\GurlTo01,LAR,RB,24,14,14,0,0,0,...,21,3,NaN,313,372.1,379.1,342.6,178,1,1
2,2,Saquon Barkley*\BarkSa00,NYG,RB,21,16,16,0,0,0,...,15,1,NaN,295,385.8,391.8,340.3,159,2,2
3,3,Christian McCaffrey\McCaCh01,CAR,RB,22,16,16,1,1,50,...,13,NaN,NaN,279,385.5,392.5,332,143,3,3
4,4,Alvin Kamara*\KamaAl00,NOR,RB,23,15,13,0,0,0,...,18,3,NaN,273,354.2,360.2,313.7,138,4,4

# Player Transformation

In [3]:
#Dropping Nan from NFLPayer2018_df
NFLPlayer2018_df=NFLPlayer2018_df.fillna(value=0)

In [11]:
#Player Information 
player_info_df=NFLPlayer2018_df[['Player', 'Player.1', 'Player.2','Player.3','Player.4']]

#Change header
header=player_info_df.iloc[0]
player_info_df=player_info_df[1:]
player_info_df.columns=header

#Rename Columns
player_data=player_info_df.rename(columns = {'Rk':'Rank','Tm':'Team'})

player_data.head()

0 Rank                   Player Name Team FantPos Age
1    1        Todd Gurley*+\GurlTo01  LAR      RB  24
2    2      Saquon Barkley*\BarkSa00  NYG      RB  21
3    3  Christian McCaffrey\McCaCh01  CAR      RB  22
4    4        Alvin Kamara*\KamaAl00  NOR      RB  23
5    5    Patrick Mahomes*+\MahoPa00  KAN      QB  23

In [5]:
#Player and Game database

player_game_df=NFLPlayer2018_df[['Player', 'Player.1','Player.2', 'Player.3','Games', 'Games.1']]

#Change header
header2=player_game_df.iloc[0]
player_game_df=player_game_df[1:]
player_game_df.columns=header2

#Rename Columns
player_game_data=player_game_df.rename(columns = {'Rk':'Rank','Tm':'Team'})

player_game_data.head()

0 Rank                   Player Name Team FantPos   G  GS
1    1        Todd Gurley*+\GurlTo01  LAR      RB  14  14
2    2      Saquon Barkley*\BarkSa00  NYG      RB  16  16
3    3  Christian McCaffrey\McCaCh01  CAR      RB  16  16
4    4        Alvin Kamara*\KamaAl00  NOR      RB  15  13
5    5    Patrick Mahomes*+\MahoPa00  KAN      QB  16  16

In [6]:
#Player and Game database

player_passing_df=NFLPlayer2018_df[['Player', 'Player.1','Player.2', 'Player.3','Passing', 'Passing.1','Passing.2', 'Passing.3', 'Passing.4' ]]

#Change header
header3=player_passing_df.iloc[0]
player_passing_df=player_passing_df[1:]
player_passing_df.columns=header3

#Rename Columns
player_passing_data=player_passing_df.rename(columns = {'Rk':'Rank','Tm':'Team'})

player_passing_data.head()

0 Rank                   Player Name Team FantPos  Cmp  Att   Yds  TD Int
1    1        Todd Gurley*+\GurlTo01  LAR      RB    0    0     0   0   0
2    2      Saquon Barkley*\BarkSa00  NYG      RB    0    0     0   0   0
3    3  Christian McCaffrey\McCaCh01  CAR      RB    1    1    50   1   0
4    4        Alvin Kamara*\KamaAl00  NOR      RB    0    0     0   0   0
5    5    Patrick Mahomes*+\MahoPa00  KAN      QB  383  580  5097  50  12

In [7]:
#Player and receiving
player_rushing_df=NFLPlayer2018_df[['Player', 'Player.1','Player.2', 'Player.3','Rushing', 'Rushing.1','Rushing.2', 'Rushing.3' ]]

#Change header
header4=player_rushing_df.iloc[0]
player_rushing_df=player_rushing_df[1:]
player_rushing_df.columns=header4

#Rename Columns
player_rushing_data=player_rushing_df.rename(columns = {'Rk':'Rank','Tm':'Team'})

player_rushing_data.head()

0 Rank                   Player Name Team FantPos  Att   Yds   Y/A  TD
1    1        Todd Gurley*+\GurlTo01  LAR      RB  256  1251  4.89  17
2    2      Saquon Barkley*\BarkSa00  NYG      RB  261  1307  5.01  11
3    3  Christian McCaffrey\McCaCh01  CAR      RB  219  1098  5.01   7
4    4        Alvin Kamara*\KamaAl00  NOR      RB  194   883  4.55  14
5    5    Patrick Mahomes*+\MahoPa00  KAN      QB   60   272  4.53   2

In [8]:
#Player and receiving
player_receiving_df=NFLPlayer2018_df[['Player', 'Player.1','Player.2', 'Player.3','Receiving', 'Receiving.1','Receiving.2', 'Receiving.3' ]]

#Change header
header5=player_receiving_df.iloc[0]
player_receiving_df=player_receiving_df[1:]
player_receiving_df.columns=header5

#Rename Columns
player_receiving_data=player_receiving_df.rename(columns = {'Rk':'Rank','Tm':'Team'})

player_receiving_data.head()

0 Rank                   Player Name Team FantPos  Tgt  Rec  Yds   Y/R
1    1        Todd Gurley*+\GurlTo01  LAR      RB   81   59  580  9.83
2    2      Saquon Barkley*\BarkSa00  NYG      RB  121   91  721  7.92
3    3  Christian McCaffrey\McCaCh01  CAR      RB  124  107  867   8.1
4    4        Alvin Kamara*\KamaAl00  NOR      RB  105   81  709  8.75
5    5    Patrick Mahomes*+\MahoPa00  KAN      QB    0    0    0     0

In [9]:
#Player and fumbles
player_fumbles_df=NFLPlayer2018_df[['Player', 'Player.1','Player.2', 'Player.3','Fumbles', 'Fumbles.1']]

#Change header
header6=player_fumbles_df.iloc[0]
player_fumbles_df=player_fumbles_df[1:]
player_fumbles_df.columns=header6

#Rename Columns
player_fumbles_data=player_fumbles_df.rename(columns = {'Rk':'Rank','Tm':'Team'})

player_fumbles_data.head()

0 Rank                   Player Name Team FantPos Fmb FL
1    1        Todd Gurley*+\GurlTo01  LAR      RB   1  1
2    2      Saquon Barkley*\BarkSa00  NYG      RB   0  0
3    3  Christian McCaffrey\McCaCh01  CAR      RB   4  1
4    4        Alvin Kamara*\KamaAl00  NOR      RB   1  0
5    5    Patrick Mahomes*+\MahoPa00  KAN      QB   9  2

In [10]:
#Player and scoring
player_scoring_df=NFLPlayer2018_df[['Player', 'Player.1','Player.2', 'Player.3','Scoring', 'Scoring.1']]

#Change header
header7=player_scoring_df.iloc[0]
player_scoring_df=player_scoring_df[1:]
player_scoring_df.columns=header7

#Rename Columns
player_scoring_data=player_scoring_df.rename(columns = {'Rk':'Rank','Tm':'Team'})

player_scoring_data.head()

0 Rank                   Player Name Team FantPos  TD 2PM
1    1        Todd Gurley*+\GurlTo01  LAR      RB  21   3
2    2      Saquon Barkley*\BarkSa00  NYG      RB  15   1
3    3  Christian McCaffrey\McCaCh01  CAR      RB  13   0
4    4        Alvin Kamara*\KamaAl00  NOR      RB  18   3
5    5    Patrick Mahomes*+\MahoPa00  KAN      QB   2   1